html, body{
  background-color: #dfdfdf;
	margin: 0px;
	height: 100%;
}

.mainColumn {
	padding-top: 30px;
	width: 995px;
	background: #FFFFFF url(../gfx/column.png);
	margin: auto;
	min-height: 100%;
}

h3.fancy{
	width: 820px;
	border-bottom:1px solid #AAAAAA;
	color:#3c3c3c;
	font:bold 1.4em "Lucida Grande",Helvetica,"Arial Unicode MS","Arial Unicode",Arial,sans-serif;
	letter-spacing:1px;
	padding:20px 0 3px;
	margin: 0px auto 15px auto;
}

.container_annotation {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  margin: 0px auto 15px auto;
  min-height: 400px;
  width: 820px;
}

.annotation-list {
  margin: 1em 0;
}

.annotation-list dl {
  margin: 0.5em;
  padding: 0.5em;
  border: 1px solid transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.annotation-list dl:hover,
.annotation-list dl.hover {
  background: #f4f4f4;
  border-color: #ddd;
}

.annotation-list dl.highlighted {
  background: #f0f0f0;
  border-color: #ddd;
  -webkit-box-shadow: inset 0 1px 0 #aaa;
}

.annotation-list dt {
  display: inline-block;
  font-weight: bold;
  margin-right: 1em;
  text-align: right;
  width: 1em;
}

.annotation-list dl.compact dd {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.annotation-list dd.date {
  display: inline-block;
  font-weight: bold;
  margin: 0 0 0.25em 0;
}

.annotation-list dd.annotation-text {
  margin-left: 2em;
}

.highcharts-annotation {
  cursor: pointer;
}