html, body{
  background-color: #dfdfdf;
	margin: 0px;
}

.mainColumn {
	padding-top: 30px;
	width: 995px;
	background: #FFFFFF url(../gfx/column.png);
	margin: auto;
}

h3.fancy{
	width: 820px;
	border-bottom:1px solid #AAAAAA;
	color:#3c3c3c;
	font:bold 1.4em "Lucida Grande",Helvetica,"Arial Unicode MS","Arial Unicode",Arial,sans-serif;
	letter-spacing:1px;
	padding:20px 0 3px;
	margin: 0px auto 15px auto;
}

#annotations {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  margin: 0px auto 15px auto;
  min-height: 400px;
  width: 820px;
}

.annotation-list {
  
}

.annotation-list dl {
  margin: 0;
  padding: 0;
}

.annotation-list dt {
  display: inline-block;
  font-weight: bold;
  margin-right: 1em;
  text-align: right;
  width: 1em;
}

.annotation-list dd.date {
  display: inline-block;
  margin: 0;
}

.annotation-list dd.annotation-text {
  margin-left: 2em;
}